main {
    height : 100vh;
    width : 100vw;
}

.login-container {
    width : 46.95rem !important;
    height : 100vh !important;
    margin-left : auto !important;
    margin-right : auto !important;
}
