.navbar {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding-inline : 20px;
    text-align : center;
}

.title {
    display : flex;
    flex-direction : row;
    align-items : center;
}

.options {
    display : flex;
    flex-direction : row;
    align-items : center;
}

.go-to-meeting {
    display : flex;
    flex-direction : row;
    justify-content : center;
    padding-inline : 20px;
    gap : 10vw;
    height : 80vh;
}

.left-panel {
    display : flex;
    flex-direction : column;
    justify-content : center;
    height : 100%;
    /* align-items : center; */
}
.meeting-desc {
    font-size : 1.9rem;
    font-weight : 600;
}
.meeting-details {
    display : flex;
    flex-direction : row;
    gap : 10px;
}

.right-panel {
    display : flex;
    align-items : center;
}
.right-panel > img {
    width : 30vw;
    height : auto;
    border-radius : 20px;
}
